    .c_landing-page-frame1 {
    gap: 4px;
    width: 100%;
    display: flex;
    padding: 8px 20px;
    position: relative;
    max-width: 354px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 16px 16px 16px 16px;
    justify-content: center;
    background-image: linear-gradient(-94deg,#013a63 0,#01497ccc 55%,#014f8699 100%);
  }
  
  .c_landing-page-text {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_landing-page-text01 {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_landing-page-text02 {
    width: 100%;
    max-width: 629px;
    min-height: auto;
  }
  
  .c_landing-page-text02,
  .c_landing-page-text03 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_landing-page-text04,
  .c_landing-page-text05 {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_landing-page-text05 {
    color: #013a63;
  }
  
  .c_landing-page-text06 {
    width: 100%;
    max-width: 629px;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_landing-page-text07 {
    color: #595959;
    font-size: 20px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_landing-page-frame2 {
    width: 100%;
    max-width: 565px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_landing-page-frame3 {
    gap: 4px;
    width: 100%;
    display: flex;
    padding: 20px 56px;
    position: relative;
    max-width: 228px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 48px 48px 48px 48px;
    justify-content: center;
    background-color: #012a4a;
  }
  
  .c_landing-page-text08 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_landing-page-text09 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_landing-page-frame4 {
    gap: 4px;
    width: 100%;
    display: flex;
    padding: 20px 56px;
    position: relative;
    max-width: 313px;
    border-top: 1px solid #012a4a;
    box-sizing: border-box;
    align-items: center;
    border-left: 1px solid #012a4a;
    border-right: 1px solid #012a4a;
    border-bottom: 1px solid #012a4a;
    border-radius: 48px 48px 48px 48px;
    justify-content: center;
  }
  
  .c_landing-page-text10 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_landing-page-text11 {
    color: #012a4a;
    font-size: 20px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
 